body
{
	background-image: url("2.jpg");
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 0% 90%;
	overflow: hidden;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#logo img
{
    width: 200px;
    height: 66px;
	margin-left: 35%;
	margin-top : 10%;
}
#nav
{
display: flex;
justify-content: space-between;
flex-direction: row;
}
#nav a
{
    font-size: 1.35em;
    color: white;
	text-shadow: 2px 1px 2px black;
    padding-bottom: 3px;
    text-decoration: none;
	margin-right: 70px;
}
#nav a:hover
{
    border-bottom: 2px solid;
}
#nav2
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-left: -6%;
	margin-right: 4%;
	margin-top: -1%;
}
#nav2 a
{ 
	font-size: 1.1em;
	color: white;
	text-shadow: 2px 1px 2px black;
    padding-bottom: 3px;
    text-decoration: none;
}
.first
{
	font-size: 0.80em;
	color: white;
	text-align: center;
	word-wrap: break-word;
	position: fixed;
	margin: auto;
	top: 72%;
	left: 48.5%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	-webkit-animation: fadein 1.20s;
    -moz-animation: fadein 1.20s;
    -ms-animation: fadein 1.20s;
    -o-animation: fadein 1.20s;
    animation: fadein 1.20s;
}
.second
{
	margin: auto;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	-webkit-animation: fadein 1.20s;
    -moz-animation: fadein 1.20s;
    -ms-animation: fadein 1.20s;
    -o-animation: fadein 1.20s;
    animation: fadein 1.20s;
}
.third
{
	margin: auto;
	position: fixed;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	-webkit-animation: fadein 1.20s;
    -moz-animation: fadein 1.20s;
    -ms-animation: fadein 1.20s;
    -o-animation: fadein 1.20s;
    animation: fadein 1.20s;
}
.fourth
{
	margin: auto;
	position: fixed;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	-webkit-animation: fadein 1.20s;
    -moz-animation: fadein 1.20s;
    -ms-animation: fadein 1.20s;
    -o-animation: fadein 1.20s;
    animation: fadein 1.20s;
}
.firstMOB
{
	font-size: 0.70em;
	color: white;
	text-align: center;
	word-wrap: break-word;
	position: fixed;
	margin: auto;
	top: 85%;
	left: 52%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	-webkit-animation: fadein 1.20s;
    -moz-animation: fadein 1.20s;
    -ms-animation: fadein 1.20s;
    -o-animation: fadein 1.20s;
    animation: fadein 1.20s;
}
.secondMOB
{
	margin: auto;
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	-webkit-animation: fadein 1.20s;
    -moz-animation: fadein 1.20s;
    -ms-animation: fadein 1.20s;
    -o-animation: fadein 1.20s;
    animation: fadein 1.20s;
}
.thirdMOB
{
	margin: auto;
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	-webkit-animation: fadein 1.20s;
    -moz-animation: fadein 1.20s;
    -ms-animation: fadein 1.20s;
    -o-animation: fadein 1.20s;
    animation: fadein 1.20s;
}
.fourthMOB
{
	margin: auto;
	position: fixed;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	-webkit-animation: fadein 1.20s;
    -moz-animation: fadein 1.20s;
    -ms-animation: fadein 1.20s;
    -o-animation: fadein 1.20s;
    animation: fadein 1.20s;
}
.fifthMOB
{
	margin: auto;
	position: fixed;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	-webkit-animation: fadein 1.20s;
    -moz-animation: fadein 1.20s;
    -ms-animation: fadein 1.20s;
    -o-animation: fadein 1.20s;
    animation: fadein 1.20s;
}
@keyframes fadein
{
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein
{
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein
{
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein
{
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein
{
    from { opacity: 0; }
    to   { opacity: 1; }
}
article img
{
	width: 160px;
	height: 160px;
	padding: 4px;
}
.container
{
  position: relative;
  width: 50%;
}
.img
{
  display: block;
  width: 100%;
  height: auto;
}
.container:hover 
{
    cursor: pointer;
}
.overlay
{
  position: absolute;
  top: 0;
  bottom: 2%;
  left: 0;
  right: 0;
  height: 160px;
  width: 160px;
  margin: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}
.container:hover .overlay
{
  opacity: 0.25;
}
.container a
{
	color: transparent;
}
#rs
{  	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0.2%;
	right: 0.5%;
}
#Instagram
{
	padding-right: 5px;
}
.quote
{
	font-size: 0.90em;
	color: white;
	text-align: center;
	word-wrap: break-word;
	position: fixed;
	width: 100%;
	bottom: 1%;
	left: 0%;
	opacity: 0.8;
}
.copyright
{
	font-size: 0.80em;
	color: white;
	text-align: center;
	word-wrap: break-word;
	position: fixed;
	width: 62%;
	bottom: -1%;
	left: 19%;
	opacity: 0.8;
}
footer img
{
	width: 32px;
    height: 32px;
}
@media (min-width: 768px) {
	#nav2 {
		display: none;
	}
	.firstMOB {
		display: none;
	}
	.secondMOB {
		display: none;
	}
	.thirdMOB {
		display: none;
	}
	.fourthMOB {
		display: none;
	}
	.fifthMOB {
		display: none;
	}
	.sixthMOB {
		display: none;
	}
	.seventhMOB {
		display: none;
	}
}
@media (max-width: 768px) {
    .quote {
        display: none;
	}
	#nav {
		display: none;
	}
	.copyright {
		font-size: 0.60em;
		word-wrap: normal;
	}
	#logo {
		margin-left: 4%;
	}
	body {
		background-position: 47% 50%;
	}
	article {
		height: auto;
		width: 80%;
		font-size: 0.8em;
	}
	.first {
		display: none;
	}
	.second {
		display:none;
	}
	.third {
		display: none;
	}
	article img
	{
	width: 80px;
	height: 80px;
	padding: 0px;
	}
}